.footer__copyright {
    justify-self: end;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 767px) {
    .footer__copyright {
        justify-self: start;
        margin-bottom: 24px;
    }
}
